* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  flex: 1;
}

.quienes-somos {
  text-align: center;
  margin: 40px 0;
}

.quienes-somos h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.quienes-somos p {
  font-size: 1.2em;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  margin: 20px 0;
}

.product-image {
  max-width: 350px;
  margin: 10px;
  border: 5px solid #333;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.product-image:hover {
  transform: scale(1.05);
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* footer */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer .social-links {
  margin-bottom: 15px;
}

.footer .social-icon {
  font-size: 25px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .social-icon:hover {
  color: #ff9800;
}

.btn-custom {
  background-color: #ff6700;
  color: #ffffff;
  border: none;
}

.btn-custom:hover {
  background-color: #02040f;
  color: #ff6700;
}

/*Modo oscuro*/
.dark-mode {
  background-color: #222;
  color: white;
}

.dark-mode .navbar {
  background-color: #111 !important;
}

.dark-mode .product-image {
  border-color: white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.dark-mode .footer {
  background-color: #111;
}

.dark-mode .btn-outline-dark {
  background-color: white;
  color: black;
}

.dark-mode .btn-outline-dark:hover {
  background-color: #ff9800;
  color: white;
}

/*Tarjetas celulares*/
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28a745;
}
